@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
.modal {
  display: none;
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-body {
  flex: auto;
  padding: 2px 16px;
  background: #fca635;
  color: #fff;
  overflow: hidden;
  position: relative;
  width: auto;
  height: 400px;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.modal-footer {
  padding: 2px 16px;
  background-color: #fd8dce;
  color: rgb(54, 26, 26);
  text-align: center;
  font-family: cursive;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

p {
  transform-origin: 50% 50%;
  font-size: 50px;
  font-family: "Sigmar One", cursive;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}

.blob {
  height: 50px;
  width: 50px;
  color: #ffcc00;
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 1;
  font-size: 30px;
  display: none;
}
body {
  padding-left: 10%;
  padding-right: 10%;
 
  padding-left: 10%;
  padding-right: 10%;
  
  background: linear-gradient(
    -45deg, #EE7752,#E73C7E, #f810ed, #6c08f0
  );
  
  
  
}


img {
  height: 150px;
  width: 150px;
  margin-top: 150px;
}


#boxcon{
  border: 3px solid wheat;
  width: 30%;
  height: 200px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

#boxcon button{
  background-color: rgb(14, 12, 12, 0.2);
  border-radius: 4px;
  border: 2px solid black;
  color: #fefefe;
  padding: 20px;
  position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  font-size: 20px;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#boxcon button:hover{
  background-color: rgb(14, 12, 12, 0.5);
}
.fa-check-circle{
  position: absolute;
  z-index: 1;
  top: 70px;
  font-size: 70px;
  left: 230px;
  color: rgb(73, 255, 1);
}